# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.env
.venv
venv/
venv.bak/

# Node
node_modules/
npm-debug.log
yarn-error.log

# App specific
temp/
output/
__pycache__/
*.docx
*.pdf

# OS
.DS_Store
.AppleDouble
.LSOverride
Icon&#13;
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Dropbox
.dropbox
.dropbox.attr
.dropbox.cache
